body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeInUp 0.5s ease;
}

h1 {
    color: #007bff;
}

.search-container {
    margin-bottom: 50px;

}

#city-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.weather-info {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.location {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.temperature {
    font-size: 36px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    margin-bottom: 20px;
}

.details {
    display: flex;
    justify-content: space-around;
}

.detail-item {
    font-size: 16px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.error{
    color: red;
}